<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHIMI 3D - Impresiones y Diseño</title>
</head>

<body>

   <header>
        <img src="../img/Logo.jpeg" alt="Logo Tienda">
        <nav>
        
            <div>
                <a href="index.html">Empresa</a>
                <a href="productos.html">Productos</a>
                <a href="registro.html">Registro</a>
                <a href="micuenta.html">Mi Cuenta</a>
                <a href="contacto.html">Contacto</a>
            </div>
        </nav>
   </header> 

   <section>
        <h1>    CHIMI 3D - Impresiones y Diseño 3D  </h1>

        <h3> Trabajamos con insumos nacionales e importados de primera calidad, en impresoras 3D profesionales calibradas diariamente.</h3>

        <p>
            Imprimimos todo tipo de modelos 3D, en diferentes tipos de materiales, tanto <strong>PLA, ABS y hasta Nylon 6 o 12.</strong> 
            Ya sea a partir de un archivo generado en algún software de diseño, contamos con departamento de diseño a partir de planos o escaneo 3D, y también 
            realizamos impresiones de modelos descargados de internet. 
        </p>
   </section>

   <div>
        <ul style="list-style-type: square;"> 
            <li><a href="#Picadores">Picadores</li>
            <li><a href="#Llaveros">Llaveros personalizados</a></li>
            <li><a href="#Mates">Mates personalizados</a></li>
        </ul>

        <ol>
            <li><a href="#Modelado2D">Modelado 2D</a></li>
            <li><a href="#Modelado3D">Modelado 3D</a></li>
            <li><a href="#Escaneo">Escaneo 3D</a></li>
        </ol>
   </div>

   <hr>

   <section>
        <h2>
            Principales materiales utilizados
        </h2>

        <div>
            <h3>PLA</h3>
            <ul style="list-style:circle;"> 
                <li>Inodoro, permanente, claro y brillante.</li>
                <li>Altamente resistente ante la humedad y la grasa.</li>
                <li>Similar al polietileno en cuanto a desarrollar barreras para sabores y olores.</li>
                <li>Suficientemente extensible y elástico.</li>
                <li>Su nivel de inflamabilidad es muy bajo lo que lo hace estable a la luz UV.</li>
            </ul>
        </div>
        <div>
            <h3>ABS</h3>
            <ul style="list-style:circle;"> 
                <li>Fluidez..</li>
                <li>Alta resistencia al calor..</li>
                <li>Resistencia a los impactos.</li>
                <li>Mayor complejidad de impresión que PLA.</li>
                <li>Polimero a base de aceite.</li>
            </ul>
        </div>
        <div>
            <h3>FLEX</h3>
            <ul style="list-style:circle;"> 
                <li>Elasticidad. Ideal para productos de desgaste</li>
                <li>Larga vida útil.</li>
                <li>Alta estabilidad química.</li>
                <li>Posibilidad de pegar. Los productos terminados se conectan fácilmente entre sí por impacto térmico.</li>
            </ul>
        </div>
   </section>   
   
   <hr>

    <section>     
        <h2>¿Cómo se realiza una impresión 3D?</h2>

        <p>En primer lugar se debe contar con un archivo <strong>.stl</strong>, este tipo es el que interpreta el programa encargado de configurar las caracteristicas de la impresión a realizar, o mejor conocido como <em>Laminador</em>(Cura, PrusaSlicer). 
            Las configuraciones pueden ser altura de capa, ancho de la misma, etc, y dependen de las especificaciones y requerimientos del pedido de impresión.<br> 
            El laminador genera un archivo <strong>.gcode</strong> , el cual es el encargado de decirle a la impresora 3D como moverse, a que velocidad, en que dirección, con que fuerza, etc.
            Este archivo se puede crear utilizando programas de diseño 3D (Autocad, Fusion 360).<br>
            Una vez obtenido el archivo gcode, se procede a preparar la máquina con el color de filamento a utilzar y se ejecuta el programa.<br>
            Luego de que termine la impresión, hay que retirar la misma de la placa de adhesión y luego se pasa a la etapa de <em>postprocesado</em>, donde se utilizan lijas, resinas y utencillios para mejorar la calidad de impresión.   
        </p>
    </section>

    <hr>

    <div id="Picadores">
        <h4>Picadores/Grinders</h4>
        <p>Personaliza tus grinders, podes encontrarlos con o sin dientes, y de 2 o 3 secciones, ademas de dedicarlos con nombre¡¡</p>
        <img src="../img/Oreo.jpeg" alt="Grinder Oreo">
        <img src="../img/Renga.jpeg" alt="Grinder La Renga">
        <img src="../img/Rayo.jpeg" alt="Grinder Algun Rayo">
    </div>

    <div id="Llaveros">
        <h4>Llaveros</h4>
        <p>Nuestros llaveros pueden contar con hasta 3 colores diferentes, con estilo de letras totalmente personalizados.</p>
        <img src="../img/Cocafernet.jpg" alt="Llavero Fernet coca">
        <img src="../img/Simpson.jpg" alt="Llavero Simpson">
        <img src="../img/PR.jpg" alt="Llavero Patricio Rey">
    </div>

    <div id="Mates">
        <h4>Mates Personalizados</h4>
        <p>Contamos con mates personalizados de diferentes personajes animados, tambien con bustos de famosos y entre otros modelos pueden encontrar con forma de camiones, autos y tambien de diferentes clubes.</p>
        <img src="../img/Stitch.jpg" alt="Mate Stitch">
        <img src="../img/Fort.jpg" alt="Mate Fort">
        <img src="../img/Union.jpeg" alt="Mate Club Unión">
    </div>

    <hr>

    <div id="Modelado2D">
        <h4>Modelado 2D</h4>
        <p>Realizamos planos de piezas mecanicas, y tambien de obras incluyendo los planos de las diferentes energias a utilizar.</p>
        <img src="../img/plano2d.jpg" alt="Plano 2d">
        <img src="../img/autocad2d.jpg" alt="Autocad 2d">
    </div>

    <div id="Modelado3D">
        <h4>Modelado 3D</h4>
        <p>Trabajamos con mates personalizados de diferentes personajes animados, tambien con bustos de famosos y entre otros modelos pueden encontrar con forma de camiones, autos y tambien de diferentes clubes.</p>
        <img src="../img/autocad3d.jpg" alt="Autocad 3d">
        <img src="../img/fusion360.jpg" alt="Fusion360">
    </div>

    <div id="Escaneo3D">
        <h4>Escaneo 3D</h4>
        <p>Contamos con escaners 3d semi-profesionales para poder llevar a cabo el modelado en tres dimensiones de tus piezas, figuras y hasta personas¡¡.</p>
        <img src="../img/escaner creality.jpg" alt="Scanner creality">
        <img src="../img/escaneo rostro.jpg" alt="Face scan">
    </div>

</body>
</html>