<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>

    <form action=""> 

        <label for="Nombre:"></label>
        <input type="text">
        <label for="DNI:"></label>
        <input type="number">
        <label for="Asunto:"></label>
        <input type="text">
        <label for="Mensaje:"></label>
        <input type="text">
        <label for="Email:"></label>
        <input type="email">
        <label for="Número:"></label>
        <input type="tel">


    </form>

</body>
</html>